body{
	background-color: #939597;
	margin: 0;
}

#content {
	position:absolute;
	top:0;
	width: 100%;
}

#imgContent {
	max-width: 1000px;
	width: 100%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-top: -40px;

	-moz-box-shadow: 0 0 10px 2px #555;
    -webkit-box-shadow: 0 0 10px 2px #555;
	box-shadow: 0 0 10px 2px #555;
}

img {
	position:absolute;
	width: 100%;
}

.aboveImage {
	position: absolute;
	top: 0;
}

#mainText {
	background-color: #ffffff;
	padding-bottom: 45px;
	padding-top: 2%;
}

#mainText p {
	padding: 0.5%;
	margin-top: 0;
}

#mainText img {
	position: relative;
	width: 40%;
	text-align: right;
}

a {
	color: #ffffff;
	text-decoration:none;
}

#botSponsor {
	color: #ffffff;
	top: 35.25%;
	left: 65%;
	font-family: "Helvetica Neue", Helvetica;

	-ms-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}