body{
	background-color: #939597;
	margin: 0;
}

#content {
	max-width: 2000px;
	width: 100%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

img {
	position:absolute;
	width: 100%;
}

.aboveImage {
	position: absolute;
}

#mainText {
	margin-left: 1.5%;
	width: 95%;
	background-color: #ffffff;
	bottom: 2%;
	border-style: solid;
	border-width: 5px;
	border-color: #A7A9AB;
}

#mainText h1 {
	text-align: center;
}

#mainText p {
	padding: 0.5%;
}

a {
	color: #ffffff;
	text-decoration:none;
}

#sponsor1 {
	color: #ffffff;
	top: 34.25%;
	left: 8.5%;
	font-family: "Helvetica Neue", Helvetica;

	-ms-transform: rotate(6deg);
	-webkit-transform: rotate(6deg);
	transform: rotate(6deg);
}

#sponsor2 {
	color: #ffffff;
	top: 35.125%;
	left: 29%;
	font-family: "Helvetica Neue", Helvetica;

	-ms-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
}

#sponsor3 {
	color: #ffffff;
	top: 35.25%;
	left: 46.5%;
	font-family: "Helvetica Neue", Helvetica;
}

#sponsor4 {
	color: #ffffff;
	top: 35.125%;
	left: 65%;
	font-family: "Helvetica Neue", Helvetica;

	-ms-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}