body{
	background-image: url("backgroundGradient.jpg");
	background-repeat: repeat-x;
	background-size: 2px 100%;
	margin: 0;
}

#content {
	position:absolute;
	top:0;
	width: 100%;
}

#imgContent {
	max-width: 1000px;
	width: 100%;
	position: relative;
	margin-right: auto;
	margin-left: auto;

	-moz-box-shadow: 0 0 100px -3px #fff;
    -webkit-box-shadow: 0 0 100px -3px #fff;
	box-shadow: 0 0 100px -3px #fff;
}

img {
	position:absolute;
	width: 100%;
}

.aboveImage {
	position: absolute;
	top: 0;
	z-index: 2;
}

#mainText {
	width: 85%;
	margin-left: 7.5%;
	top: 10%;
}

#mainText p {
	font-family: 'Arvo', serif;
}

a {
	color: #ffffff;
	text-decoration:none;
}

#botSponsor {
	color: #ffffff;
	top: 47%;
	left: 64.75%;
	font-family: "Helvetica Neue", Helvetica;

	-ms-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

#boozAllenSponsor {
	color: #ffffff;
	top: 47%;
	left: 27.25%;
	font-family: "Helvetica Neue", Helvetica;

	-ms-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}